.userbar__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.userbar__container__body{
    width: 22rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.userbar__container--span{
    font-weight: bold;
    padding: 5px;
}
